Options All -Indexes

<Files  ~ "((lib|loader|config)\.php|(metadata)\.json|\.(json|xml))$">
Order Deny,Allow
Deny from all
#Remove this comment and clear # bellow on Allow from if online server
Allow from 192.168.1.5
</Files>

<IfModule mod_rewrite.c>

RewriteEngine On

RewriteRule /?\.htaccess$ - [F,L]
RewriteRule ^/?trash/log\.txt$ - [F,L]

RewriteBase /PHP.prototype.app/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /PHP.prototype.app/index.php [L]

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?192.168.1.5/PHP.prototype.app/.*$ [NC]
RewriteRule \.(png|jpg|gif|js|css|json|xml)$ _ [NC,R,L]

</IfModule>